################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Bccr.Diss.SopInt.CentralDirecto.UI.Test/bin/Debug/netcoreapp3.1
/Bccr.Diss.SopInt.CentralDirecto.UI.Test/obj
/.vs/Bccr.Diss.SopInt.CentralDirecto/v16
